// 全体のレイアウト
* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  color:#666;
}

h2 {
  margin: 0;
  color:#666;
}

p {
  margin: 0;
  color:#666;

}

a {
  text-decoration: none;
  color:#666;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


// 共通の設定
// フォント色

.white {
  color: #fff;
}

.orange {
  color: #ff8800;
}

//エレメント

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem; 
}

// トップページ

// ショーケース
.showcase {
  position: relative;
  top: 100px;
  width: 100%;
  height: 80vh;
  background: image-url('nepal.JPG') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  // 文字の位置を調整する
  padding-top: 200px;
}

.showcase-content {
  text-align: center;
}

.showcase-content h1 {
  font-weight: bold;
  font-size: 4rem;
  margin: 0 0 2rem;
  text-shadow: 2px 2px 0 #666;
}

.showcase-content p {
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 2px 2px 0 #666;
}

// 国を選択する部分

.country-list {
  position: relative;
  padding: 3rem 1rem;
  background: #fff;
}

.region-name {
  font-size: 2rem;
  text-shadow: 2px 2px 0 #666;
  text-align: center;
}

.country-list .wrapper-top, .country-list .wrapper-bottom {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.country-list .wrapper-inner {
  width: 23%;
}

.country-list .region {
  border-radius: 2rem;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-list .asia {
  background: image-url('asia.jpg') no-repeat center center/cover;
}

.country-list .europe {
  background: image-url('europe.jpg') no-repeat center center/cover;
}

.country-list .north-america {
  background: image-url('north-america.jpg') no-repeat center center/cover;
}

.country-list .south-america {
  background: image-url('south-america.jpg') no-repeat center center/cover;
}

.country-list .central-america {
  background: image-url('central-america.jpg') no-repeat center center/cover;
}

.country-list .oceania {
  background: image-url('oceania.jpg') no-repeat center center/cover;
}

.country-list .africa {
  background: image-url('africa.jpg') no-repeat center center/cover;
}

.country-list .middle-east {
  background: image-url('middle-east.jpg') no-repeat center center/cover;
}

// 国リスト
.country-list .country-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
  text-align: center;
}

.country-list .country {
  margin: 10px 0;
}

.country-list .country li {
  padding: 4px 0;
}

.country-list .country li a:hover {
  opacity: 0.7;
}

// 国別ページ

//  ショーケース
.country-showcase {
  height: 50vh;
  background: #ff8800;
}
.country-showcase .showcase-content {
  padding-top: 10rem;
}

// タブ
.tabs {
  position: relative;
  background: #f0f3f7;
  padding-top: 1rem;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
}

.tabs .icon {
  font-size: 3rem;
  padding: 10px; 
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.tabs p {
  padding-top: 0.5rem;
  font-size: 1.5rm;
  color: #666666;
}

.tabs .container div {
  padding: 1.5rem 0;
  color: #666666;
}

.tabs .container div:hover {
  opacity: 0.7;
  cursor: pointer;
}

.tab-border {
  border-bottom: #ff8800 solid 4px;
}

// タブをJSで動かす
#tab-1-content, #tab-2-content, #tab-3-content, #tab-4-content, #tab-5-content {
  display: none;
}

.show {
  display: block !important;
}


// タブの中身


.tab-1-content-inner, .tab-2-content-inner, .tab-3-content-inner, .tab-4-content-inner, .tab-5-content-inner {
  padding: 48px 16px;
}

.tab-content ul {
  padding: 0;
}

.tab-content div {
  color: #666666;
}
//タブの中身1

.tab-1-content-inner .event-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.tab-1-content-inner .event-item {
  padding-bottom: 30px;
  padding-right: 30px;
}

.tab-content img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.tab-content .title{
  width: 300px;
  height: 100px;
  padding-top: 5px; 
  font-size: 1.2rem;
  word-wrap: break-word;
  overflow: hidden;
}

//タブの中身2

.tab-2-content-inner .article-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.tab-2-content-inner .article-item {
  padding-bottom: 30px;
  padding-right: 30px;
}

// タブの中身3

.tab-3-content-inner .status {
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #ff8800;
  color: #fff;
  display: inline-block;
}

.tab-3-content-inner .upper-container {
  // display: flex;
  align-items: center;
  margin-bottom: 10px;
} 

.tab-3-content-inner .question-title {
  padding-top: 10px;
  word-wrap: break-word;
}
.tab-3-content-inner .question-item { 
  padding-bottom: 30px;
}


// ボタン

.btn-newpost {
  text-align: center;
}

.btn-lg {
  background: #ff8800;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 20px 50px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-lg:hover {
  opacity: 0.9;
}

// レスポンシブデザイン
// iPad mini以下
@media screen and (max-width: 768px) {
    // ショーケース
  .showcase {
    padding-top: 160px;
  }

  .showcase-content h1 {
    font-size: 2.5rem;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }

  // 国を選択する部分

  .region-name {
    font-size: 3rem;
  }

  .country-list .wrapper-top, .country-list .wrapper-bottom {
    display: block;
  }

  .country-list .wrapper-inner {
    width: 100%;
  }

  // 国リスト
  .country-list .country-item {
    height: 200px;
    text-align: center;
  }

  .country-list .country {
    margin: 10px 0;
  }

  .country-list .country li {
    padding: 4px 0;
    font-size: 1.5rem;
  }

}

