// 全体のレイアウト
* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  color:#666;
}

h2 {
  margin: 0;
  color:#666;
}

p {
  margin: 0;
  color:#666;

}

a {
  text-decoration: none;
  color:#666;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span {
  color: #666;
}


// 共通の設定
// フォント色

.white {
  color: #fff;
}

.orange {
  color: #ff8800;
}

.blue {
  color: #4e9fd6;
}

//エレメント

.heading {
  text-align: center;
  font-size: 2rem;
}

.heading-sm {
  text-align: center;
  font-size: 1.5rem; 
}

.link {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}

.link:hover {
  opacity: 0.7;
}

// ボタン

.btn {
  display: inline-block;
  background: #ff8800;
  width: 400px;
  padding: 10px 15px;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.45);
  cursor: pointer; 
}

.btn-lg {
  background: #ff8800;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 20px 50px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.7;
}

.btn-lg:hover {
  opacity: 0.7;
}

// トップページ

// ショーケース
.showcase {
  position: relative;
  top: 100px;
  width: 100%;
  height: 80vh;
  background: image-url('nepal.JPG') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  // 文字の位置を調整する
  padding-top: 200px;
}

.showcase-content {
  text-align: center;
}

.showcase-content h1 {
  font-weight: bold;
  font-size: 4rem;
  margin: 0 0 2rem;
  text-shadow: 2px 2px 0 #666;
}

.showcase-content p {
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 2px 2px 0 #666;
}

// 国を選択する部分

.country-list {
  position: relative;
  padding: 3rem 1rem;
  background: #fff;
}

.region-name {
  font-size: 2rem;
  text-shadow: 2px 2px 0 #666;
  text-align: center;
}

.country-list .wrapper-top, .country-list .wrapper-bottom {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.country-list .wrapper-inner {
  width: 23%;
}

.country-list .heading {
  margin-bottom: 4rem; 
}

.country-list .region {
  border-radius: 2rem;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-list .asia {
  background: image-url('asia.jpg') no-repeat center center/cover;
}

.country-list .europe {
  background: image-url('europe.jpg') no-repeat center center/cover;
}

.country-list .north-america {
  background: image-url('north-america.jpg') no-repeat center center/cover;
}

.country-list .south-america {
  background: image-url('south-america.jpg') no-repeat center center/cover;
}

.country-list .central-america {
  background: image-url('central-america.jpg') no-repeat center center/cover;
}

.country-list .oceania {
  background: image-url('oceania.jpg') no-repeat center center/cover;
}

.country-list .africa {
  background: image-url('africa.jpg') no-repeat center center/cover;
}

.country-list .middle-east {
  background: image-url('middle-east.jpg') no-repeat center center/cover;
}

// 国リスト
.country-list .country-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
  text-align: center;
}

.country-list .country {
  margin: 10px 0;
}

.country-list .country li {
  padding: 4px 0;
}

.country-list .country li a:hover {
  opacity: 0.7;
}

// 国別ページ

//  ショーケース
.country-showcase {
  position: relative;
  height: 70vh;
  background: image-url('country-background.jpg') no-repeat center center/contain;
  top: 100px;
}

.country-showcase-content {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50px;
}

.country-showcase h1 {
  font-weight: bold;
  font-size: 4rem;
  margin: 0 0 2rem;
  text-shadow: 2px 2px 0 #666;
}

// タブ
.tabs {
  position: relative;
  background: #f0f3f7;
  padding-top: 1rem;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
}

.tabs .icon {
  font-size: 3rem;
  padding: 10px; 
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

.tabs p {
  padding-top: 0.5rem;
  font-size: 1.5rm;
}

.tabs .container div {
  padding: 1.5rem 0;
  color: #666;
}

.tabs .container div:hover {
  opacity: 0.7;
  cursor: pointer;
}

.tab-border {
  border-bottom: #ff8800 solid 4px;
}

// タブをJSで動かす
#tab-1-content, #tab-2-content, #tab-3-content, #tab-4-content, #tab-5-content {
  display: none;
}

.show {
  display: block !important;
}

// タブコンテンツ 共通項目

.tab-content .container {
  max-width: 1200px;
  margin: 0 auto;
}

.tab-1-content-inner, .tab-2-content-inner, .tab-3-content-inner, .tab-4-content-inner, .tab-5-content-inner {
  padding: 48px 16px;
}

.tab-content ul {
  padding: 0;
}

.newpost {
  margin-bottom: 2rem;
  text-align: center;
}

//タブコンテンツ イベント、記事

.wrapper-category .category {
  display: block;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.list-event, .list-article  {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.item-event, .item-article {
  padding-bottom: 30px;
  padding-right: 30px;
}

.tab-content img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.title-event, .title-article {
  width: 300px;
  height: 100px;
  padding-top: 10px; 
  font-size: 1.2rem;
  word-wrap: break-word;
  overflow: hidden;
}

// タブコンテンツ Q&A

.list-question .wrapper-row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.status-question-open {
  padding: 20px 30px;
  border-radius: 2px;
  color: #fff;
  background: #ff8800;
}

.status-question-close {
  padding: 20px 30px;
  border-radius: 2px;
  color: #fff;
  background: gray;
}

.tab-3-content-inner .upper-container {
  margin-bottom: 10px;
} 

.title-question {
  padding: 0 20px;
  overflow: hidden;
}



// レスポンシブデザイン
// iPad mini以下
@media screen and (max-width: 768px) {
    // ショーケース
  .showcase {
    padding-top: 160px;
  }

  .showcase-content h1 {
    font-size: 2.5rem;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }

  // 国を選択する部分

  .region-name {
    font-size: 3rem;
  }

  .country-list .wrapper-top, .country-list .wrapper-bottom {
    display: block;
  }

  .country-list .wrapper-inner {
    width: 100%;
  }

  // 国リスト
  .country-list .country-item {
    height: 200px;
    text-align: center;
  }

  .country-list .country {
    margin: 10px 0;
  }

  .country-list .country li {
    padding: 4px 0;
    font-size: 1.5rem;
  }

  // 国別ページ

  //  ショーケース
  .country-showcase-content {
    top: 0px;
  }

  .country-showcase h1 {
    font-size: 3rem;
  }


  // タブ
  .tabs {
    padding-top: 0;
  }

  .tabs .icon {
    font-size: 2rem;
    padding: 5px; 
  }

  .tabs .container {
    width: 80%;
  }
//タブコンテンツ イベント、記事

.wrapper-category .category {
  display: block;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.item-event, .item-article {
  padding-bottom: 10px;
  padding-right: 0px;
}

.tab-content img {
  width: 100%;
}

  // タブの中身3

  .list-question .wrapper-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .status-question-open {
    padding: 20px 30px;
    border-radius: 2px;
    color: #fff;
    background: orange;
  }

  .status-question-close {
    padding: 20px 30px;
    border-radius: 2px;
    color: #fff;
    background: gray;
  }

  .tab-3-content-inner .upper-container {
    margin-bottom: 10px;
  } 

  .title-question {
    padding: 0 20px;
    overflow: hidden;
  }



}

