// 新規投稿画面

.question {
  margin-bottom: 10px;
  color: black;
}

.input_management .wrapper{
  margin-top: 40px;
}

.input_management .input {
  width: 100%;
  padding: 10px 15px;
}

#event_start_time_1i, #event_end_time_1i {
  width: 20%;
  padding: 10px 15px;
}
#event_start_time_2i, #event_end_time_2i  {
  width: 25%;
  padding: 10px 15px;
}
#event_start_time_3i, #event_end_time_3i  {
  width: 16%;
  padding: 10px 15px;
}
#event_start_time_4i, #event_end_time_4i  {
  width: 16%;
  padding: 10px 15px;
}
#event_start_time_5i, #event_end_time_5i  {
  width: 16%;
  padding: 10px 15px;
}

.input_management .content {
  height: 400px;
}

.input_management .row {
  text-align: center;
}

// 詳細画面
.item-show {
  position: relative;
  top: 100px;
  width: 100%;
}

.item-show .title {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.item-show .image {
  text-align: center;
}
.item-show img {
  width: 90%;
}

.item-show h1 {
  font-size: 2rem;
}

.item-show .container {
  background: #f0f3f7;
}

.item-show .container-inner {
  padding-top: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.item-show .image{
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.item-show .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.item-show .place, .item-show .time {
  padding: 30px 60px;
  background-color: #fff;
  margin-right: 20px;
  border-radius: 10px;
}

.item-show .row {
  margin-bottom: 5px;
}

.item-show h2 {
  margin-bottom: 10px;
  text-decoration: underline;
}

.item-show .country, .item-show .detail, .item-show .user {
  width: 100%;
  padding-bottom: 50px;
  padding-left: 15px; 
}

.item-show .content {
  word-wrap: break-word;
  font-size: 1.3rem;
}

.item-show .link-content:hover {
  opacity: 0.7;
}

.item-show .row {
  font-size: 1.3rem;
}

.btn-wrapper {
  position: relative;
  top: 100px;
}

.btn-wrapper .newpost {
  margin: 3rem 0;
}

.btn-wrapper-inner-top {
  text-align: center;
}

.btn-wrapper-inner-bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.btn-wrapper-inner-bottom p:first-child {
  margin-right: 10px;
}

.list-participant {
  display: flex;
  justify-content: start;
  text-align: center;
  flex-wrap: wrap;
}

.list-participant img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.item-participant {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 200px;
  color: #666;
}

.item-participant .name {
  padding: 10px 20px;
  font-size: 1.2rem;
  word-wrap: break-word;
}

.list-participant .name {
  font-style: bold;
  font-size: 1.3rem;
}

.list-participant .name:hover {
  opacity: 0.7;
}

.footer {
  position: relative;
  top: 100px;
}

.search-content {
  position: relative;
  top: 100px;
}

.search-content .newpost {
  padding-top: 3rem;
}

.search-content img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.search-content .title-event {
  width: 300px;
  height: 100px;
  padding-top: 10px; 
  font-size: 1.2rem;
  word-wrap: break-word;
  overflow: hidden;
}

.category {
  padding-left: 20px;
}

// レスポンシブデザイン
// iPad mini以下
@media screen and (max-width: 768px) {
  .registration-main .row {
    display: block;
  }

  .registration-main .left, .registration-main .right {
    margin-top: 20px;
  }

  .btn {
    width: 100%;
  }

  .item-show {
    top: 150px;
  }
  
  .item-show h1 {
    font-size: 1rem;
  }
  
  .item-show .wrapper {
    display: block;
    margin: 0 auto;
  }
  
  .item-show .place, .item-show .time {
    padding: 10px 20px;
    margin-right: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .item-show .row {
    margin-bottom: 5px;
  }
  
  .item-show h2 {
    margin-bottom: 10px;
  }
  
  .btn-wrapper-inner-top {
    text-align: center;
  }

  .btn-wrapper-inner-top .heading-sm {
    font-size: 1rem;
    padding-top: 1rem;
  }

  .btn-wrapper {
    top: 150px;
  }

  .btn-wrapper-inner-bottom {
    display: block;
    padding-bottom: 3rem;
  }
  
  .btn-wrapper-inner-bottom p:first-child {
    margin-right: 0px;
    margin-bottom: 15px;
    text-align: center;
  }

  .item-show .content {
    font-size: 1rem;
  }

  .item-show h2 {
    font-size: 1rem;
  }
  
  .item-show .row {
    font-size: 1rem;
  }

  .btn-md {
    font-size: 1rem;
  }

  .list-participant {
    display: flex;
    justify-content: start;
    text-align: center;
    flex-wrap: wrap;
  }

  .list-participant img {
    width: 150px;
    height: 150px;
  }

  .item-participant {
    width: 150px;
  }

  .list-participant .name {
    font-size: 1rem;
  }

  
  .footer {
    top: 150px;
  }
}

