.login-main .email {
  padding: 20px 0;
}

.login-main .password {
  padding-bottom: 20px;
}

.login-main .input {
  margin-top: 5px;
}

.login-main .row {
  text-align: center;
}

.registration-field, .login-field {
  height: 95vh;
} 

.guest {
  padding-top: 20px;
  text-align: center;
}